@charset "utf-8";

.rwd-container {
    width: 50%;
    box-sizing: border-box;
    border: 10px solid #000;
}

.rwd-container img {
    max-width: 100%;
    height: auto;
}

.rwd-iframe {
    position: relative;
    padding-top: 75%;
    width: 100%;
}

.rwd-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
