@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("fontello.css");
@import url("./normalize.css");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    font-family: "Spoqa Han Sans", sans-serif;
    font-weight: 400;
    /* 아래의 백그라운드에 리니어 그라디언트 앞 색은 배경이 안먹힐떄 나타나게 하는 색 */
    background: url("images/bg_flower.png") no-repeat,
        #aaa linear-gradient(#aaa 0%, #ccc 40%, #eee 70%, #fff 100%);
    background-position: 50% 0%;
    color: #181818;
}

/* 링크 스타일 */
a {
    color: inherit;
    text-decoration: none;
}

/* 숨김 컨텐츠 */
.readable-hidden,
legend {
    background: red; /*테스트하기 위해*/
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

/* 플로트 이슈를 해결하기 위한 CSS 모듈 */
/* 메인에 class값으로 clearfix를 넣었음 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* .container {
    background: silver;
} */

.header,
.visual,
.main,
.slogan,
.footer {
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */

.header {
    background: #fff;
    position: relative;
    padding: 0 30px 38px;
    min-height: 100px;
    border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo {
    position: absolute;
    top: 48px;
    left: 65px;
    z-index: 10;
}

/* 멤버 링크 */
.member {
    text-align: right;
    padding: 2px 0;
    position: relative;
    right: -10px;
}

.member li {
    display: inline-block;
}

.member li:nth-child(n + 2)::before {
    content: ":";
}

.member a {
    padding: 8px 7px 8px 10px;
    text-transform: uppercase;
    display: inline-block;
}

.menu {
    height: 47px;
    padding-left: 225px;
    border-top: 2px solid black;
    background: #ff670f
        linear-gradient(
            to bottom,
            #ff670f 0%,
            #a54d09 35%,
            #a54d09 70%,
            #ff670f 100%
        );
    border-radius: 0 0 5px 5px;
}

.menu-item {
    float: left;
    position: relative;
    cursor: pointer;
}

.menu-item-text {
    padding: 0 20px;
    color: #fff;
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 45px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    text-shadow: 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000,
        0px -1px 0 #000;
}

.menu-act .menu-item-text {
    color: yellow !important;
}

.menu-act .menu-item-text::after {
    display: block;
    content: "";
    border-bottom: 2px solid black;
}

.sub-menu {
    background: aqua;
    position: absolute;
    top: 47px;
    white-space: nowrap;
    display: none;
}

.menu-act .sub-menu {
    display: block !important;
}

.sub-menu1,
.sub-menu2,
.sub-menu3 {
    left: 0;
}

.sub-menu4,
.sub-menu5,
.sub-menu6 {
    right: 0;
}

.sub-menu li,
.sub-menu a {
    display: inline-block;
}

.sub-menu a {
    padding: 8px 0px;
    margin-right: 10px;
}

/* 비주얼 */
@keyframes textAni {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 75px);
    }
}

.visual {
    height: 120px;
    position: relative;
}

/* 배경 애니메이션 */
@keyframes flowerAni {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.visual::before,
.visual::after {
    animation-name: flowerAni;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}

.visual::before {
    background-image: url("images/ani_flower_01.png"),
        url("images/ani_flower_02.png");
    background-position: 0 -10px, 670px 0;
}

.visual::after {
    background-image: url("images/ani_flower_03.png"),
        url("images/ani_flower_04.png");
    background-position: 300px 0, 800px 0;
    animation-delay: 1s;
}

/* 텍스트 애니메이션 */
.visual-text {
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    /* display: inline-block; */
    animation-name: textAni;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
    z-index: 10;
}

.main {
    border-radius: 15px 15px 0 0;
    background: #fff;
    display: flex;
    min-height: 450px;
    padding: 30px;
    justify-content: space-between;
}

.group1 {
    width: 250px;
}

.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
}

/* 로그인 */
/* 강사님 코드 */
.login {
    /* position: absolute; */
    border-radius: 5px;
    padding: 10px;
    /* height: 165px;
    width: 250px; */
    box-shadow: 5px 5px 0 #aaa;
    background: #e28832;
    background: radial-gradient(
        circle at 100% 0%,
        #e28832 0%,
        #ea5d2d 50%,
        #ec592d 100%
    );
}

.login-heading {
    color: #ff0;
    font-size: 1.5rem;
    font-weight: 700;
    text-indent: 1em;
}

.login-form {
    background: #fff;
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 0px 10px;
    margin-top: 10px;
}

.login-form fieldset {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.user-pw {
    margin-top: 6px;
}

.login-form label {
    display: inline-block;
    width: 4em;
}

.login-form input {
    width: 90px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}

.btn-login {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    right: 0px;
    border: 0px;
    padding: 2px;
    color: #fff;
    background: #ea5d2d;
    font-size: 1.3rem;
    border-radius: 3px;
}

.sign {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 8px 10px;
}

.sign li {
    letter-spacing: -1px;
}

.sign li:first-child {
    float: left;
}

.sign li:last-child {
    float: right;
}

.sign li::before {
    color: orange;
}

/* 내코드 */
/* .login {
    position: absolute;
    border-radius: 10px;
    height: 165px;
    width: 250px;
    box-shadow: 5px 5px 0 gray;
    background: #e28832;
    background: radial-gradient(
        at 100% 0%,
        #e28832 0%,
        #ea5d2d 50%,
        #ec592d 100%
    );
}

.login-heading {
    font-size: 16px;
    padding: 7px 0;
    color: yellow;
    font-weight: bold;
    margin-left: 20px;
}

form {
    position: absolute;
    left: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    width: 230px;
    height: 110px;
}

#user-email,
#user-pw {
    width: 100px;
}

label {
    margin-top: 7px;
    display: inline-block;
    width: 55px;
}

.btn-login {
    border-radius: 5px;
    position: absolute;
    left: 170px;
    top: 9px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 12px;
    background-color: #eb562c;
}

.sign {
    border-top: 1px solid #aaa;
    position: relative;
    top: 70px;
    left: 5px;
    font-size: 12px;
    padding-top: 5px;
    margin-left: 10px;
    width: 210px;
}

.icon-right-open {
    margin-left: 5px;
    display: inline-block;
} */

/* 강사님 코드 */
.validation-list {
    margin-top: 25px;
}

.validation-list a {
    display: block;
    border: 1px solid #aaa;
    background: url("images/validation_icon.png") no-repeat 20px 50%,
        linear-gradient(to bottom, #ccc 0%, #eee 100%);
    border-radius: 30px;
    height: 30px;
    line-height: 28px;
    padding-left: 45px;
    margin-top: 10px;
}

/* 내코드 */
/* .validation-list li:first-child {
    margin-top: 15px;
}

.validation-list li:last-child {
    margin-top: 10px;
}

.validation-list li a {
    display: block;
    background: url("images/validation_icon.png"),
        linear-gradient(to bottom, #ccc 0%, #eee 100%);
    background-repeat: no-repeat;
    background-position: 5%, 50%;
    padding: 5px 40px;
    border-radius: 50px;
    border: 1px solid #aaa;
} */

/* 웹 관련 용어 */
.term {
    margin-top: 20px;
    border: 1px solid #aaa;
    background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 100%);
    border-radius: 5px;
    padding: 15px;
}

.term-list::after {
    content: "";
    display: block;
    clear: both;
}

.term-heading {
    font-weight: bold;
    font-size: 1.5rem;
}

.term div {
    margin-top: 10px;
}

.term-list-subject {
    color: #296896;
    width: 145px;
    float: right;
    margin-top: -4px;
}

.term-list-thumbnail {
    float: left;
    margin-right: 10px;
}

.term-list-brief {
    margin-top: 5px;
    float: right;
    width: 145px;
}

/* 그룹2 */
.search {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    padding: 15px 25px 10px;
    background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 100%);
}

.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-form input {
    width: 195px;
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 1px 1px 5px;
}

.search-form button {
    font-size: 12px;
    padding: 1px 10px;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: #fff;
    background: #333;
    height: 24px;
}

/* 공지사항 및 자료실 */
.board {
    margin-top: 20px;
    position: relative;
}

.tab {
    position: absolute;
    top: 0;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;
    background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 100%);
    color: #333;
    cursor: pointer;
}

.notice-heading {
    left: 0;
}

.pds-heading {
    left: 73px;
}

.board-act .tab {
    border-color: #e25d2d #e25d2d #fff #e25d2d;
    background: #fff;
    color: #e25d2d;
    border-radius: 5px 5px 0 0;
}

.board-list li {
    margin-bottom: 5px;
}

.board-list a {
    display: inline-block;
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-list li::before {
    position: relative;
    top: -5px;
}

.board-list time {
    float: right;
}

.board-list {
    top: 45px;
    padding-top: 45px;
}

.board-list,
.board-more {
    display: none;
}

.board-act .board-list,
.board-act .board-more {
    display: block;
}

.board-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}

.board-more::before {
    color: hsla(110, 90%, 30%, 1);
}

/* 새소식 */
.news {
    margin-top: 20px;
    min-height: 100px;
    position: relative;
}

.news::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 80%;
    height: 1px;
    background: #aaa linear-gradient(to right, #aaa 0%, #fff 100%);
}

.news-heading {
    color: #e25d2d;
    font-size: 1.5rem;
    font-weight: bold;
}

.news-item {
    margin-top: 35px;
    position: relative;
}

.news-item > a {
    display: block;
    padding-left: 130px;
}

.news-item-subject {
    font-weight: bold;
    font-size: 1.5rem;
}

.news-item-date {
}

.news-item-brief {
    margin-top: 10px;
    line-height: 1.5;
}

.news-item-thumbnail {
    position: absolute;
    top: 3px;
    left: 0;
    text-align: center;
}

.news-item-thumbnail img {
    margin-bottom: 15px;
    box-shadow: 0 10px 15px 5px #aaa;
}

.news-more {
    position: absolute;
    padding: 8px;
    top: -8px;
    right: -8px;
}

.news-more::before {
    color: hsla(110, 90%, 30%, 1);
}

/* 신규 이벤트 및 관련 사이트 */
.event-related {
    background: #ccc linear-gradient(#ccc, #eee);
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
}

.event {
    position: relative;
}

.event-heading {
    font-display: 1.5rem;
    font-weight: bold;
}

.event-heading span {
    color: #e25d2d;
}

.event p {
    margin: 10px 0;
}

.event-thumbnail {
    border: 1px solid #aaa;
    box-shadow: 5px 5px #999;
    margin-bottom: 15px;
}

.btn-event {
    padding: 2px; /* 탭 접근 했을때 아웃라인이 오버플로어 히든으로 가려지는것을 방지 */
    position: absolute;
    top: 0;
    right: 0;
    height: 18px; /*하이트와 버플로우를 여기 쓴 이유는 크로스 브라우징을 위해 버튼이 각 브러우저마다 해석이 다름 */
    overflow: hidden;
}

.btn-event-prev,
.btn-event-next {
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: 0;
    padding-top: 18px;
    background: url("images/back_forward.png") no-repeat;
}

.btn-event-next {
    background-position: -37px 0;
}

.related {
    background: skyblue;
}

/* 슬로건 */
.slogan {
    background: tomato;
    height: 10vh;
}

/* 푸터 */
.footer-bg {
    background: purple;
}

.footer {
    background: yellow;
    height: 10vh;
}
